<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon menu-button"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <!-- Admin Menu Items -->
    <div *ngIf="isAdminLoggedIn">
      <button mat-menu-item routerLink="/admin/view-all">
        <mat-icon>list</mat-icon>
        <span>View All Posts</span>
      </button>
      <button mat-menu-item routerLink="/admin/search">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </div>

    <!-- User Menu Items -->
    <div *ngIf="isCustomerLoggedIn">
      <button mat-menu-item routerLink="/user/create-post">
        <mat-icon>add</mat-icon>
        <span>Create a Post</span>
      </button>
      <button mat-menu-item routerLink="/user/view-all">
        <mat-icon>list</mat-icon>
        <span>View All Posts</span>
      </button>
      <button mat-menu-item routerLink="/user/my-account">
        <mat-icon>person</mat-icon>
        <span>My account</span>
      </button>
      <button mat-menu-item routerLink="/user/search">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </div>

    <!-- Guest Menu Items -->
    <div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
      <button mat-menu-item routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Log In</span>
      </button>
    </div>
  </mat-menu>

  <span>Blog App</span>
  <span class="example-spacer"></span>

  <button
    mat-raised-button
    color="primary"
    routerLink="/login"
    *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn"
  >
    Log In
  </button>

  <a href="/user/my-account" class="user" *ngIf="isCustomerLoggedIn || isAdminLoggedIn">{{ userName }}
    <mat-icon style="padding-left: 5px; padding-top: 5px">person</mat-icon></a>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="shareSite()"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
