<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Blog App</span>
  <span class="example-spacer"></span>
  <div *ngIf="isAdminLoggedIn">
    <button mat-raised-button color="primary" routerLink="/admin/search">
      <mat-icon>search</mat-icon>Search
    </button>
    <button
      mat-raised-button
      color="primary"
      routerLink="/login"
      (click)="logout()"
    >
      Log Out
    </button>
  </div>
  <div *ngIf="isCustomerLoggedIn">
    <button mat-raised-button color="primary" routerLink="/user/create-post">
      Create a Post
    </button>

    <button mat-raised-button color="primary" routerLink="/user/search">
      <mat-icon>search</mat-icon>Search
    </button>

    <button
      mat-raised-button
      color="primary"
      routerLink="/login"
      (click)="logout()"
    >
      Log Out
    </button>
  </div>

  <button
    mat-raised-button
    color="primary"
    routerLink="/login"
    *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn"
  >
    Log In
  </button>

  <span class="user">{{ userName }}</span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="shareSite()"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
